@font-face {
    font-family: 'EXE';
    src: url(https://static1.squarespace.com/static/6229e7465403903cfd9d23ed/t/6391c75c5e6b224f735385a6/1670498140457/excelorate-font+%281%29.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

html,
body {
    width: 100%;
    height: 100%;
    background-color: #FEB8E3;
    margin: 0px;
    overflow: hidden;
    color: black;
    position: fixed;
    cursor: url('./custom.cur'), auto;
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    flex-grow: 2;
    color: black;
    background-color: #1F2937;
    padding-top: 10px;
    
    padding-left: 200px;
    padding-right: 200px;
    font-family: sans-serif;
    border-bottom: #1F2937;
}

#headerbg{
    width: auto;
    height: 10%;
    background:url('https://raw.githubusercontent.com/GanyuHail/oestrosite/main/src/header-bg-long.jpg')
}

#twitter {
    width: 30px;
    height: 30px;
}

.logo {
    font-family: 'EXE' ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 10;
    font-size: 35px;
}

.menu{
    font-family: 'Righteous';
}

