@font-face {
    font-family: 'EXE';
    src: url(https://static1.squarespace.com/static/6229e7465403903cfd9d23ed/t/6391c75c5e6b224f735385a6/1670498140457/excelorate-font+%281%29.otf);
}

body {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    color: black;
    cursor: url('./custom.cur'), auto;
    background-size: auto; 
    background: linear-gradient(-45deg, hotpink, white, #EBE6FD, #f3fbfe);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 220vh;
}

header { 
    z-index: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

a {
    white-space: nowrap;
}

a:link:hover {
    cursor: url('./hover.cur'), auto;
    opacity: 0.7;
}

a:link {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

.header {
    align-content: center;
    color: black;
    padding-top: 10px;
    border-bottom: #1F2937;
    height: auto;
    z-index: 0;
}

#headerbg {
    width: auto;
    height: 66px;
    background: url('https://raw.githubusercontent.com/GanyuHail/oestrosite/main/src/header-bg-long.jpg');
    z-index: 0;
}

.social {
    font-size: 10px;
    border: none;
    margin: 1%;
    /* display: flex; */
    /* align-items:flex-start;
    justify-content: flex-start; */
    position: absolute;
    z-index: 3;
    right: 0px;
}

.twitter {
    width: 25px;
    height: 25px;
    background-color: transparent;
    background-image: url('/src/icon/twitter.png');
    background-size: 25px auto;
    border: 0;
    margin-right: 10px;
    z-index: 3;
}

.insta {
    width: 25px;
    height: 25px;
    background-color: transparent;
    background-image: url('/src/icon/insta.png');
    background-size: 25px auto;
    border: 0;
    margin-right: 10px;
    z-index: 3;
}

.mail {
    width: 25px;
    height: 25px;
    background-color: transparent;
    background-image: url('/src/icon/mail.png');
    background-size: 25px auto;
    border: 0;
    z-index: 3;
}

.twitter:hover {
    opacity: 0.5;
    cursor: url('./hover.cur'), auto;
    z-index: 3;
}

.insta:hover {
    opacity: 0.5;
    cursor: url('./hover.cur'), auto;
    z-index: 3;
}

.mail:hover {
    opacity: 0.5;
    cursor: url('./hover.cur'), auto;
    z-index: 3;
}

.logo {
    margin-top: 0.2em;
    font-family: 'EXE';
    display: inline-block;
    text-align: center;
    flex-grow: 10;
    font-size: 3.125em;
    align-items: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-shadow: 2px 2px pink;
    z-index: 100;
    position: fixed;
}

.logo :hover {
    cursor: url('./hover.cur'), auto;
}

.menu {
    margin-top: 1%;
    margin-right: 1%;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-content: flex-end;
    font-family: 'Righteous';
    /* float: right; */
    width: 30%;
    margin-left: 1%;
    justify-content: space-between;
    font-size: 1em;
    position: fixed;
}

.menu :hover {
    cursor: url('./hover.cur'), auto;
    color: pink;
}

#menu {
    z-index: 10;
}

#menu-bar {
    width: 45px;
    height: 40px;
    /* margin: 1%; */
    z-index: 12;
}

.bar {
    height: 5px;
    width: 80%;
    background-color: black;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
    z-index: 12;
}

#bar1 {
    transform: translateY(-5px);
    z-index: 12;

}

#bar3 {
    transform: translateY(5px);
    z-index: 12;
}

.nav {
    transition: 0.3s ease;
    display: none;
    z-index: 10;
}

.nav ul {
    padding: 0 22px;
}

.nav li {
    list-style: none;
    padding: 12px 0;
    z-index: 12;
}

.nav li a {
    color: white;
    font-size: 22px;
    text-decoration: none;
    z-index: 50;
}

.nav li a:hover {
    font-weight: bold;
    z-index: 12;
}

.menu-bg,
#menu {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 5;
}

.menu-bg {
    z-index: 2;
    width: 0;
    height: 30%;
    margin: 30px 0 20px 20px;
    background: radial-gradient(ellipse at bottom, #C6BBED, #BA4B8F),
        radial-gradient(ellipse at top, #FEB8E3, white);
    border-radius: 50%;
    transition: 0.3s ease;
}

.change {
    display: block;
}

.change .bar {
    background-color: white;
    z-index: 12; 
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
    z-index: 11;
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
    z-index: 11;
}

.change-bg {
    width: 45em;
    height: 40em;
    transform: translate(-60%, -30%);
    
}

.dropbtn {
    border: none;
    background-color: transparent;
    color: pink;
    font-family: 'Righteous';
    font-weight: 500;
    white-space: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    transition: 0.5s ease;
}

.dropdown-content {
    display: none;
    position: absolute;
    padding-top: 80px;
    z-index: 2;
    width: 18em;
    height: 15em;
    /* margin: 35px 0 20px 40px; */
    background: radial-gradient(ellipse at bottom, transparent, #FEB8E3),
        radial-gradient(ellipse at top, #FEB8E3, white);
    border-radius: 100%;
    transform: translate(-10%, -20%);
    color: white;
    font-size: 22px;
}

.dropdown-content a {
    padding: 1vh;
    margin: 10px 0 20px 100px;
    text-decoration: none;
    display: block;
    color: white;
}

.dropdown-content a:hover {
    background-color: #ddd;
    width: 6em;
    border-radius: 100%;
    transform: translate(-10%, -20%);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: hotpink;
    visibility: none;
    transition: 0.5s ease;
}

#hr1 {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid white;
    margin: 1em 0;
    padding: 0;
    width: 100%;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
}

#hr2 {
    height: 1px;
    border: 0;
    border-top: 3px solid white;
    margin: 1em 0;
    padding: 0;
    width: 100%;
    z-index: 1;
}

#hr3 {
    height: 1px;
    border: 0;
    border-top: 9px solid white;
    margin: 1em 0;
    padding: 0;
    z-index: 1;
}

@keyframes hr-animation {
    from{ transform: translate(0, 0); }
    to{ transform: translate(50%, 0); }
  }
  @-webkit-keyframes hr-animation {
    from{ -webkit-transform: translate(0, 0); }
    to{ -webkit-transform: translate(50%, 0); }
  }
  .hr-animation {
    -webkit-animation: hr-animation 5s linear infinite;
    animation: hr-animation 5s linear infinite;
  }

  .colored {
    background-image: linear-gradient(left, white, hotpink, white, #EBE6FD, #f3fbfe);
    background-image: -moz-linear-gradient(left, white, hotpink, white, #EBE6FD, #f3fbfe );
    background-image: -o-linear-gradient(left, white, hotpink, white, #EBE6FD, #f3fbfe);
    background-image: linear-gradient(to right, white, hotpink, white, #EBE6FD, #f3fbfe );
  }
  
  .rainbowcontainer {
    overflow: hidden;
    width: 100%;
    margin-top: 0;
  }

  .tophr {
   padding-top: 3em;
    z-index: 1;
  }
  
  .wrap {
    font-size: 0;
    height: 5px;
    width: 200%;
    margin-top: 8px;
    position: relative;
  }
  
  .wrap hr {
    border: none;
    height: 5px;
    width: 50%;
    position: absolute;
  }
  
  .wrap hr:last-child {
    left: -50%;
  }

h1 {
    font-family: 'Righteous';
    font-size: 1.8em;
    text-align: center;
    display: flex;
    justify-content: center;
    font-style: italic;
}

h2 {
    font-family: 'Jost', sans-serif;
    font-size: 1.25em;
    text-align: center;
    font-weight: 100;
    display: block;
    margin: 0 auto;
}

#video {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, white, #EBE6FD, black, black, white, #EBE6FD);
}

#hr4 {
    /* height: 1px; */
    border: 0;
    border-top: 5px solid white;
    margin: 1em 0;
    padding: 10px;
}

/* #video :hover {
    cursor: url('./hover.cur'), auto;
} */

.articlesheader {
    font-family: 'EXE' !important;
    font-size: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 20px; */
}

h1.article {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    white-space: initial;
}

p {
    font-family: 'jost';
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* #articlecolumn {
    width: 60%;
} */

#article20gaff {
    font-family: 'Righteous';
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    background-image: url("/src/oestrovenus.png");
    width: 70%;
    margin-left: 15%;
    margin-top: auto;
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
    color: #EFE7FD;
    transition: height 0.5s, padding-top 0.5s, padding-bottom 0.5s;
    word-wrap: break-word;
}

#article20gaff:hover {
    padding-top: 2.5%;
    padding-bottom: 5%;
}

#hide1 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s linear, opacity 0.3s linear;
    color: hotpink;
    font-size: 2em;
    text-align: center;
    margin-top: 1.5em;
}

#article20gaff:hover #hide1 {
    visibility: visible;
    opacity: 1;
}

#article19tldr {
    font-family: 'Righteous';
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    background-image: url("/src/tdor.jpg");
    width: 70%;
    margin-left: 15%;
    margin-top: auto;
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
    color: #EFE7FD;
    transition: height 0.5s, padding-top 0.5s, padding-bottom 0.5s;
    word-wrap: break-word;
}

#article19tldr:hover {
    padding-top: 2.5%;
    padding-bottom: 5%;
}

#article19tldr:hover #hide1 {
    visibility: visible;
    opacity: 1;
}

#article18galdem {
    font-family: 'Righteous';
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    background-image: url("/src/anewlegacy.png");
    width: 70%;
    margin-left: 15%;
    margin-top: auto;
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
    color: #EFE7FD;
    transition: height 0.5s, padding-top 0.5s, padding-bottom 0.5s;
    word-wrap: break-word;
}

#container18 {
    width: 100%;
    word-wrap: break-word;
}

#article18galdem:hover {
    padding-top: 2.5%;
    padding-bottom: 5%;
}

#article18galdem:hover #hide1 {
    visibility: visible;
    opacity: 1;
}

#article17wives {
    font-family: 'Righteous';
    text-align: center;
    display: flex;
    list-style: none;
    flex-flow: row wrap;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    background-image: url("/src/transhug.jpg");
    width: 70%;
    margin-left: 15%;
    margin-top: auto;
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
    color: pink;
    transition: height 0.5s, padding-top 0.5s, padding-bottom 0.5s;
}

#article17wives:hover {
    padding-top: 2.5%;
    padding-bottom: 5%;
}

#article17wives:hover #hide1 {
    visibility: visible;
    opacity: 1;
}

#article16reflect {
    font-family: 'Righteous';
    text-align: center;
    display: flex;
    list-style: none;
    flex-flow: row wrap;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    background-image: url("/src/transmeme.jpeg");
    width: 70%;
    margin-left: 15%;
    margin-top: auto;
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
    color: #EFE7FD;
    transition: height 0.5s, padding-top 0.5s, padding-bottom 0.5s;
}

#article16reflect:hover {
    padding-top: 2.5%;
    padding-bottom: 5%;
}

#article16reflect:hover #hide1 {
    visibility: visible;
    opacity: 1;
}

#article15wild {
    font-family: 'Righteous';
    text-align: center;
    display: flex;
    list-style: none;
    flex-flow: row wrap;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    background-image: url("/src/wild.jpeg");
    width: 70%;
    margin-left: 15%;
    margin-top: auto;
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
    color: hotpink;
    transition: height 0.5s, padding-top 0.5s, padding-bottom 0.5s;
}

#article15wild:hover {
    padding-top: 2.5%;
    padding-bottom: 5%;
}

#article15wild:hover #hide1 {
    visibility: visible;
    opacity: 1;
}

footer {
    background-color: #c5aac3;
    color: white;
    padding-top: 1%;
    padding-bottom: 2%;
}

#signup {
    font-family: 'EXE';
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: darkgrey;
}

.emtextbox {
    width: 20em;
    height: 2.5em;
    border-radius: 10px;
    border: none;
}

.registerbtn {
    font-family: 'EXE';
    height: 2.5em;
    border-radius: 10px;
    border: none;
    margin-left: 0.6em;
}

.input {
    color: darkgrey;
}

#email {
    font-family: 'EXE';
}

#footerinfo {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: space-between;
    justify-content: space-between;
    margin-left: 1%;
}

#footercomp {
    font-size: 0.8em;
    font-family: 'jost';
    text-align: left;
    color: white;

}

#footeremail {
    font-size: 1em;
    font-family: 'jost';
    text-align: center;
    align-items: center;
    text-shadow: 1px 1px pink;
}

.footersocial {
    font-size: 10px;
    border: none;
    margin-right: 1%;
    margin-left: 59.86px;
    position: flex;
    z-index: 3;
    justify-content: flex-end;
}

.bg{
    background-image: url("../src/oestrovenus.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    /* width: 100vh;
    /* margin-left: 20vh; */
}

#imagetext {
    top: 10px;
    position: absolute;
    text-align: left;
    color: hotpink;
    margin-top: 20vh;
    margin-left: 12vh;
    font-size: 1.5em;
}

#author{
    font-size: 1.2em !important;
    display: block;
    text-align: left;
}

.articlemeat {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify !important;
}

.para {
    text-align: justify !important;
    width: 60vh;
    font-size: 1.5vh;
}

.folxinsta {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media only screen and (max-width: 600px) {

    #headerbg {
        height: 3.8em;
    }

    .header {
        height: 2.6em;
    }

    .rainbowcontainer {
        overflow: hidden;
        width: 100%;
        margin-top: 0;
        top: 2.8em;
        position: static;
      }

    #hr3 {
        border-top: 3px solid;
        background: linear-gradient(-45deg, #FEB8E3, hotpink, #EBE6FD, #f3fbfe);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }

    .logo {
        left: 7.3em;
        margin-top: 0;
        font-size: 1.8em;
    }

    #menu-bar {
        width: 35px;
        height: 10px;
    }

    .bar {
        height: 4px;
        width: 80%;
        background-color: black;
        display: block;
        border-radius: 5px;
        transition: 0.3s ease;
    }

    #bar1 {
        transform: translateY(-4px);
    }

    #bar3 {
        transform: translateY(4px);
    }

    .change #bar1 {
        transform: translateY(4px) rotateZ(-45deg);
    }

    .change #bar2 {
        opacity: 0;
    }

    .change #bar3 {
        transform: translateY(-4px) rotateZ(45deg);
    }

    .nav ul {
        width: 1000px;
        padding-top: 50px;
    }

    /* .nav li a {
        font-size: 18px;
    } */

    .dropdown-content {
        /* padding-top: 80px; */
        height: 14em;
        transform: translate(-10%, -20%);
    }

    #topsocial {
        display: none;
    }

    h1 {
        text-align: center;
        margin: 1em;
    }

    h1.articlesheader {
        display: block;
    }

    h2 {
        font-size: 1em;
    }

    h2.article {
        word-wrap: break-word;
    }

    .articlemeat {
        width: 5vh;
        align-items: center;
        text-align: center;
        margin: 1px; 
    }

    #footerinfo {
        flex-direction: column;

    }

    #footercomp {
        font-size: 0.5em;
        display: none;
        text-align: center;
    }

    .footersocial {
        font-size: 0.5em;
        text-align: center;
        margin: 2em;
    }
}