@font-face {
	font-family: 'EXE';
	src: url(https://static1.squarespace.com/static/6229e7465403903cfd9d23ed/t/6391c75c5e6b224f735385a6/1670498140457/excelorate-font+%281%29.otf);
}

html,
body {
	width: 100%;
	height: 100%;
	background-color: #333;
	margin: 0px;
	overflow: hidden;
	font-family: Helvetica Neue, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	color: black;
	position: fixed;
}

#controls {
	width: 0;
	height: 100%;
	background-color: #111;
	float: left;
	margin: 0;
	/* -moz-box-shadow: 0 0 15px rgba(0, 0, 0, .6);
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .6);
	box-shadow: 0 0 15px rgba(0, 0, 0, .6); */
}

#container {
	width: 100%;
	height: 100%;
	background-color: #222;
	margin: 0 0 0 300px;
}

#stage {
	width: 900px;
	height: 500px;
	background-color: #FEB8E3;
	-moz-box-shadow: 0 0 15px rgba(0, 0, 0, .6);
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .6);
	box-shadow: 0 0 15px rgba(0, 0, 0, .6);
	visibility: hidden;
	position: absolute;
	z-index: 10;
}

#overlay {
	width: 100%;
	z-index: 10;
	font-size: 20px;
	position: relative;
	top: 50%;
	height: 50px;
	margin-top: -25px;
	font-weight: bold;
	text-align: center;
}

h1 {
	font-family: 'Lobster', arial, serif;
	font-size: 38px;
	color: black;
	font-weight: normal;
	z-index: 999;
}

a {
	color: #fff;
	text-decoration: none;
}

#overlay h1 {
	color: #666;
}

#loadSample {
	cursor: pointer;
}

#button {
	
	bottom: 30%;
	left: 50%;
	text-align: center;
	z-index: 999;
	/* display: inline-block; */
	/* color: black;
	font-family: 'EXE'; */
	/* text-transform: lowercase; */
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'PTSerif', sans-serif;
  background: linear-gradient(45deg, transparent 5%, pink 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#button:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

#button:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  #button,
  #button:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}