Options +FollowSymlinks
RewriteEngine On
RewriteBase /
#AllowOverride all

RewriteCond %{HTTP_HOST} .
RewriteCond %{HTTP_HOST} !^www\.landing.oestrogeneration\.org [NC]
RewriteRule (.*) http://landing.oestrogeneration.org/$1 [R=301,L]

# The Friendly URLs part
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]